<!--<body style="background: #ecf0f5;"> -->

<body style="background: #ffffff;">

    <!-- <div class="login-box"> -->
    <div class="col-xs-offset-4 col-xs-4">

        <!-- /.login-logo  -->
        <div class="login-box-body">
            <div class="login-logo">
                <!-- <img src="assets/images/GhIPSS-logo.png" class="logo"  id="logo" style="float: center; position: relative; ">-->
                <img src="assets/images/ic_logo_cbgmob.png" class="logo" id="logo" style="float: center; position: relative; ">
                <!-- <img src ="assets/images/logo1.jpg" class="logo"  id="logo" style="float: center; position: relative; ">-->
                <b></b>
                <!-- <h3><b>GHQR MERCHANT PORTAL</b> </h3> -->
                <h3><b>CBG MERCHANT PORTAL</b> </h3>

            </div>
            <ng-container *ngIf="showmsg">
                <div class="alert alert-danger">
                    <i class="fas fa-exclamation-triangle"></i> &nbsp;&nbsp;<strong>{{
                            msg1
                            }}</strong>
                </div>
            </ng-container>





            <!--<ng-template #contentf let-c="close" >
                  <ng-container *ngIf="step2">-->
            <form #newpass="ngForm" (ngSubmit)="resetpassword(newpass.value)">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">
                        <i class="glyphicon glyphicon-lock"></i>&nbsp;&nbsp; Change Password
                    </h4>
                </div>
                <div class="modal-body">
                    <!-- <ng-container *ngIf="msgarrayresetP">
                            <div class="alert alert-danger" role="alert">
                                <strong>Please Fill out The Form</strong>
                                <ul *ngFor="let error of errorarrayresetP">
                                    <li>
                                        {{error}}
                                    </li>
                                </ul>
                            </div>
                        </ng-container> -->
                    <div class="row" style="display: flex;">
                        <i class="fa fa-info-circle"></i>
                        <p class="login-box-msg">Password must be at least 8 characters and contain a number and an uppercase and lowercase letters </p>

                    </div>

                    <div style="background: #ECC8C5 !important; border-color:  #B83C37;" class="alert alert-danger alert-dismissible" *ngIf="msgarrayresetP">
                        <button style="color:  #B83C37; background-color: #ECC8C5;" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <!-- <h4><i class="fa fa-exclamation-circle"></i> Alert!</h4> -->
                        <h5 style="color:  #B83C37;"><i class="fa fa-times"> </i> <strong> Please Fill out The Form
                                </strong></h5>

                        <ul *ngFor="let error of errorarrayresetP">
                            <li style="color: #B83C37;">
                                {{error}}
                            </li>
                        </ul>
                    </div>

                    <!-- <div style="background: #ECC8C5 !important; border-color:  #B83C37;" class="alert alert-danger alert-dismissible" *ngIf="oldpass">
                        <button style="color:  #B83C37; background-color: #ECC8C5;" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h5 style="color:  #B83C37;"><i class="fa fa-times"> </i> <strong> Wrong old password !
                                </strong></h5>
                    </div> -->


                    <!-- <div>
                            Change Your password :
                        </div> -->
                    <br />
                    <div class="row">
                        <div class="col"></div>
                        <!-- <div class="col-8"> -->

                        <!-- <div class="row">
                            <div class="form-group has-feedback">
                                <input ngModel name="oldpassword" type="password" class="form-control" placeholder="Old Password" (change)="GETIDP($event.target.value)" />
                            </div>
                        </div> -->

                        <div class=" row">
                            <div class="form-group has-feedback">
                                <input ngModel name="password1" type="password" class="form-control" placeholder="Password" (change)="GETID1($event.target.value) " />
                            </div>
                        </div>
                        <div class="row ">
                            <div class="form-group has-feedback">
                                <input ngModel name="Password2" type="password" class="form-control" placeholder="Password Confirmation " />
                            </div>
                        </div>
                        <!-- </div> -->
                        <div class="col "></div>
                    </div>
                </div>
                <br />
                <!-- <div class="modal-footer ">
                        <button type="submit " class="btn btn-secondary ">submit</button>
                        <button type="button " class="btn btn-outline-secondary " (click)="cancelbutton() ">
                    cancel
                  </button>
                    </div> -->
                <div class="row ">
                    <div class="text-center ">
                        <div class="row ">
                            <div class=" col-xs-6 pull-right ">
                                <!-- <button style="background-color: #222d32b5; border: #222d32b5; " id="btn1 " class="btn btn-block " type="submit ">
                                            Submit
                                        </button> -->
                                <button (click)="resetpassword(newpass.value) " style="background-color: #222d32b5; border: #222d32b5; color: #ffffff; " id="btn1 " class="btn btn-block " type="submit ">
                                            Change Password
                                        </button>

                            </div>
                            <div class=" col-xs-6 pull-left ">
                                <button (click)="cancelbutton() " type="button " class="btn btn-block ">Cancel
                                    </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <section *ngIf="stepOtp==true ">


                <div class="row ">
                    <div class="col-xs-offset-3 col-xs-6 ">
                    </div>
                </div>
            </section>



            <!--</ng-container>
          </ng-template>-->







            <!--   <a (click)="onRegister() " class="text-center ">Require a new membership</a> -->

        </div>
        <!-- /.login-box-body -->
    </div>
    <br><br><br><br><br><br>
    <!-- /.login-box -->
    <script>
        $(function() {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
        });
    </script>
</body>