<app-out-session></app-out-session>
<header class="main-header">

    <!-- Logo -->
    <a class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b></b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">
    <!--  <img src="assets/images/GhIPSS-logo.png"  class="user-image" alt="User Image" style="width: 30 px; height: 40px;">
      <img src="assets/images/ic_logo_cbgmob.png"  class="user-image" alt="User Image" style="width: 30 px; height: 40px;">
      <img src="assets/images/logo1.jpg"  class="user-image" alt="User Image" style="width: 30 px; height: 60px;">
      <p style="color: white; display: center; position: center; margin-left: 20px;">GHQR MERCHANT PORTAL</p>-->
      
        <span class="logo-lg"> <h4> CBG MERCHANT PORTAL </h4></span>

        </span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

                <!-- User Account: style can be found in dropdown.less -->
                <li id="li" style="color: inherit;" *ngIf="this.showN==false && this.show==false && this.showCU==true" class="dropdown user user-menu">

                    <a style="margin-bottom: -14%;" href="#" class="dropdown-toggle" data-toggle="dropdown" id="dropdownmenu1" aria-haspopup="true" aria-expanded="false">
                        <!-- <img src="assets/images/logo1.jpg" class="user-image" alt="User Image">-->
                        <!-- <img src="assets/images/ic_logo_cbgmob.png" class="user-image" alt="User Image" style="width: 30 px; height: 40px; vertical-align: middle;"> -->
                        <!-- <i class="fa fa-user-circle fa-2x" aria-hidden="false"></i>  -->
                        <div id="drop" style="margin-left: -30%;">
                            <div class="row">
                                <i class="fa fa-user-circle fa-2x" aria-hidden="false"></i> <span> {{this.merchantName}} <br></span>
                            </div>
                            <!-- <span> {{this.merchantName}} <br></span> -->
                            <span style="margin-left: 15px;"> {{stringObject.companyName}}</span>
                        </div>

                        <!-- <span>{{stringObject.companyName}}</span> -->
                    </a>

                    <!-- <a *ngIf="this.showN==true && this.show==false && this.showCU==false" href="#" class="dropdown-toggle" data-toggle="dropdown" id="dropdownmenu1" aria-haspopup="true" aria-expanded="false">
                        <img src="assets/images/ic_logo_cbgmob.png" class="user-image" alt="User Image" style="width: 30 px; height: 40px; vertical-align: middle;">
                        <i class="fa fa-user-circle fa-2x" aria-hidden="false"></i> <span> {{this.name}}</span>
                    </a>
                    <a *ngIf="this.showN==false && this.show==true && this.showCU==false" href="#" class="dropdown-toggle" data-toggle="dropdown" id="dropdownmenu1" aria-haspopup="true" aria-expanded="false">
                        <img src="assets/images/ic_logo_cbgmob.png" class="user-image" alt="User Image" style="width: 30 px; height: 40px; vertical-align: middle;">
                        <i class="fa fa-user-circle fa-2x" aria-hidden="false"></i> <span>{{stringObject.companyName}}</span>
                    </a> -->

                    <div style="width: 0%; " class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <a class="clickable dropdown-item dropdownit" (click)="logOut()"><i class="fa fa-sign-out"></i> Sign Out</a>
                    </div>
                </li>
                <li *ngIf="this.showN==true && this.show==false && this.showCU==false" class="dropdown user user-menu">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="dropdownmenu1" aria-haspopup="true" aria-expanded="false">
                        <img src="assets/images/ic_logo_cbgmob.png" class="user-image" alt="User Image" style="width: 30 px; height: 40px; vertical-align: middle;">
                        <i class="fa fa-user-circle fa-2x" aria-hidden="false"></i> <span> {{this.name}}</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <a class="clickable dropdown-item dropdownit" (click)="logOut()"><i class="fa fa-sign-out"></i> Sign Out</a>
                    </div>
                </li>
                <li *ngIf="this.showN==false && this.show==true && this.showCU==false" class="dropdown user user-menu">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="dropdownmenu1" aria-haspopup="true" aria-expanded="false">
                        <img src="assets/images/ic_logo_cbgmob.png" class="user-image" alt="User Image" style="width: 30 px; height: 40px; vertical-align: middle;">
                        <!-- <i class="fa fa-user-circle fa-2x" aria-hidden="false"></i> <span>{{stringObject.companyName}}</span> -->
                        <div id="drop" style="margin-left: -30%;">
                            <div class="row">
                                <i class="fa fa-user-circle fa-2x" aria-hidden="false"></i> <span> {{this.merchantName}} <br></span>
                            </div>
                            <!-- <span> {{this.merchantName}} <br></span> -->
                            <span style="margin-left: 15px;"> {{stringObject.companyName}}</span>
                        </div>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <a class="clickable dropdown-item dropdownit" (click)="logOut()"><i class="fa fa-sign-out"></i> Sign Out</a>
                    </div>
                </li>
                <!-- Control Sidebar Toggle Button -->
                <li>
                    <!--<a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>-->
                </li>
            </ul>
        </div>

    </nav>
</header>