<app-appheader>
</app-appheader>
<app-appmenu></app-appmenu>


<div class="wrapper">



    <div class="content-wrapper">



        <div class="content-header">
            <div style="height: 30px;"></div>
            <br>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a (click)="homePage()"><i
                                    style="color: black; width: 24px; height: 24px;" class="fa fa-home"
                                    aria-hidden="true"></i>
                            </a></li>
                    <li class="breadcrumb-item active" aria-current="page">Merchant List</li>
                </ol>
            </nav>
            <!-- SAFIA 06.10.2021 -->
            <div class="box box-default">
                <div class="box-header with-border">
                    <h4>Search </h4>
                    <div class="input-group pull-right">
                        <!-- <button style="background-color: #000 !important; border-color: black;" id="btn1" type="button" class="btn btn-danger mok mb-8" (click)="newAdmin()"><i class="icon fa fa-user-plus"></i>
                            New Merchant</button> -->
                    </div>
                </div>
                <div class="input-group-btn ">

                </div>
                <div class="box-body" style=" padding: 30px;">
                    <div class="box-tools">

                        <div class="box-tools">
                            <div class="input-group input-group-sm" style="    width: 500px;">
                                <input type="text" class="form-control" placeholder="Search" [(ngModel)]="keyword">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    Merchants List
                </div>
                <div class="panel-body">
                    <!-- <div class="input-group pull-right">
                        <button type="button" class="btn btn-danger mok mb-8" (click)="newAdmin()"><i class="icon fa fa-user-plus"></i> New Admin</button>
                    </div> -->
                    <table class="table table-hover table-responsive table-striped">
                        <thead>
                            <tr>
                                <th>Creation Date</th>
                                <!-- <th>First Name</th>
                                <th>Last Name</th> -->
                                <th>Merchant Name</th>
                                <th>Username</th>
                                <th>Branch</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Business Cert.No</th>
                                <th>Blocked</th>
                                <!-- <th>Created By</th> -->
                                <th>-</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="clickable" *ngFor="let merchant of showResult | filter : keyword  " (click)="merchantManagementDetail(merchant)">
                                <td>{{merchant.createdAt}}</td>
                                <!-- <td>{{merchant.firstName}}</td>
                                <td>{{merchant.lastName}}</td> -->
                                <td>{{merchant.merchantName}}</td>
                                <td>{{merchant.user.username}}</td>
                                <td>{{merchant.branch}}</td>
                                <td>{{merchant.email}}</td>
                                <td>{{merchant.phone}}</td>
                                <td>{{merchant.user.businessCertNumber}}</td>
                                <td>{{merchant.user.blocked ? "Yes" : "No"}}</td>
                                <!-- <td>{{merchant.createdBy}}</td> -->
                                <!-- SAFIA 06.10.2021 -->
                                <td>
                                    <button type="button" class="btn btn-default" (click)="merchantManagementDetail(merchant)">Details</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer o-auto" style="height: 60px;">
                    <div class="form-group form-inline" style="display: inline-block; margin-top: -10px;">
                        <div class="row">

                            <div class="col-sm">

                                <label for="pagesize">Page size</label>
                            </div>
                            <div class="col-sm">

                                <div class="input-group form-inline input-group-sm w-100 pull-left" style="width: 122px;">
                                    <select [(ngModel)]="pagesize" (change)="onsizechange()" class="form-control" style="margin: 0; max-width: 250px;" id="pagesize">
                                                <option selected value="5">5</option>
                                                <option value="10">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-group pagination-w pull-right">
                        <span class="input-group-btn">
                                    <button id="blackBtn" type="submit" class="btn btn-danger mok"
                                        (click)="gotoPage(currentpage-1)"
                                        [disabled]="currentpage<=0">Previous</button>
                                </span>
                        <form (ngSubmit)="gotoPageFromInput()"><input type="text" class="form-control" value="{{currentpage+1}}" (keyup)="onKey($event)" /></form>
                        <span class="input-group-btn">
                                    <button id="blackBtn" type="submit" class="btn btn-danger mok"
                                        (click)="gotoPage(currentpage+1)"
                                        [disabled]="!showResult || currentpage+1>=totalPages">Next</button>
                                </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>