<p class="zoom-area">

    <div class="login-logo">
        <!-- <img src="assets/images/GhIPSS-logo.png" class="logo"  id="logo" style="float: center; position: relative; ">-->
        <img src="assets/images/ic_logo_cbgmob.png" class="logo" id="logo" style="float: center; position: relative; ">
        <!-- <img src ="assets/images/logo1.jpg" class="logo"  id="logo" style="float: center; position: relative; ">-->
        <b></b>
        <!-- <h3><b>GHQR MERCHANT PORTAL</b> </h3> -->
        <h3><b>CBG MERCHANT PORTAL</b> </h3>

    </div>
    <br>
    <section class="error-container">
        <span class="four"><span class="screen-reader-text">4</span></span>
        <span class="zero"><span class="screen-reader-text">0</span></span>
        <span class="four"><span class="screen-reader-text">4</span></span>
    </section>
    <div class="link-container">
        <a target="_blank" href="http://localhost:4200/#/login" class="more-link">Back to start your session</a>
    </div>