<!--<body style="background: #ecf0f5;"> -->

<body style="background: #ffffff;">
    <div class="row">
        <div class="col-xs-offset-4 col-xs-4">
            <div class="login-logo">
                <!-- <img src="assets/images/GhIPSS-logo.png" class="logo"  id="logo" style="float: center; position: relative; ">-->
                <img src="assets/images/ic_logo_cbgmob.png" class="logo" id="logo" style="float: center; position: relative; ">
                <!-- <img src ="assets/images/logo1.jpg" class="logo"  id="logo" style="float: center; position: relative; ">-->
                <b></b>
                <!-- <h3><b>GHQR MERCHANT PORTAL</b> </h3> -->
                <h3><b>CBG MERCHANT PORTAL</b> </h3>

            </div>
            <!-- /.login-logo  -->
            <div class="login-box-body">
                <p class="login-box-msg">Sign in to start your session</p>


                <!-- <div class="callout callout-danger" *ngIf="hide==false"> -->
                <!--<h5> {{msg}} </h5> -->
                <!-- <h5>Warning!</h5>
                    <strong>{{ msg }}</strong>
                    <p></p>
                </div> -->

                <div style="background: #ECC8C5 !important; border-color:  #B83C37;" class="alert alert-danger alert-dismissible" *ngIf="hide==false">
                    <button style="color:  #B83C37;  background-color: #ECC8C5;" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <!-- <h4><i class="fa fa-exclamation-circle"></i> Alert!</h4> -->
                    <h5 style="color:  #B83C37;"><i class="fa fa-times"> </i>{{ msg }}
                    </h5>
                </div>
                <!-- <div class="callout callout-danger" *ngIf=" Errpass==true">

                    <h4>Warning!</h4>
                    <strong>Your field is empty</strong>
                    <p></p>
                </div> -->
                <div style="background: #ECC8C5 !important; border-color:  #B83C37;" class="alert alert-danger alert-dismissible" *ngIf=" Errpass==true">
                    <button style="color:  #B83C37;  background-color: #ECC8C5;" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <!-- <h4><i class="fa fa-exclamation-circle"></i> Alert!</h4> -->
                    <h5 style="color:  #B83C37;"><i class="fa fa-times"> </i> Your field is empty
                    </h5>
                </div>

                <div style="background: #ECC8C5 !important; border-color:  #B83C37;" class="alert alert-danger alert-dismissible" *ngIf="showmsg">
                    <button style="color:  #B83C37;  background-color: #ECC8C5;" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <!-- <h4><i class="fa fa-exclamation-circle"></i> Alert!</h4> -->
                    <h5 style="color:  #B83C37;"><i class="fa fa-times"> </i> &nbsp;&nbsp;{{ msg1 }}
                    </h5>
                </div>

                <div style="background: #ECC8C5 !important; border-color:  #B83C37;" class="alert alert-danger alert-dismissible" *ngIf=" Errpass1==true && Errpass3==false && valid1 ==false && Errpass4==false">
                    <button style="color:  #B83C37; background-color: #ECC8C5;" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <!-- <h4><i class="fa fa-exclamation-circle"></i> Alert!</h4> -->
                    <h5 style="color:  #B83C37;"><i class="fa fa-times"> </i>You must confirm your password</h5>
                </div>

                <!-- <div class="callout callout-danger" *ngIf=" Errpass1==true && Errpass3==false && valid1 ==false && Errpass4==false">

                    <h4>Warning!</h4>
                    <strong>You must confirm your password</strong>
                    <p></p>
                </div> -->

                <div style="background: #ECC8C5 !important; border-color:  #B83C37;" class="alert alert-danger alert-dismissible" *ngIf=" errorarraycondtion==true ">
                    <button style="color:  #B83C37; background-color: #ECC8C5;" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <!-- <h4><i class="fa fa-exclamation-circle"></i> Alert!</h4> -->
                    <h5 style="color:  #B83C37;"><i class="fa fa-times"> </i> Password must be at least 8 characters and contain a number and an uppercase and lowercase letters and special character</h5>
                </div>
                <!-- <div class="callout callout-danger" *ngIf=" errorarraycondtion==true ">

                    <h4>Warning!</h4>
                    <strong>password must be at least 8 characters and contain a number and an uppercase and lowercase letters and special character</strong>
                    <p></p>
                </div> -->

                <div style="background: #ECC8C5 !important; border-color:  #B83C37;" *ngIf=" Errpass1==false && Errpass3==false && valid1 ==false && Errpass4==true && valid2 ==false">
                    <button style="color:  #B83C37; background-color: #ECC8C5;" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <!-- <h4><i class="fa fa-exclamation-circle"></i> Alert!</h4> -->
                    <h5 style="color:  #B83C37;"><i class="fa fa-times"> </i> Your old password is not correct</h5>
                </div>
                <!-- <div class="callout callout-danger" *ngIf=" Errpass1==false && Errpass3==false && valid1 ==false && Errpass4==true && valid2 ==false">
                    <h4>Warning!</h4>
                    <strong>Your old password is not correct</strong>
                    <p></p>
                </div> -->

                <div style="background: #ECC8C5 !important; border-color:  #B83C37;" class="alert alert-danger alert-dismissible" *ngIf="Errpass3==true && Errpass1==false && valid1 ==false">
                    <button style="color:  #B83C37; background-color: #ECC8C5;" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <!-- <h4><i class="fa fa-exclamation-circle"></i> Alert!</h4> -->
                    <h5 style="color:  #B83C37;"><i class="fa fa-times"> </i> Your password is Empty</h5>
                </div>
                <!-- <div class="callout callout-danger" *ngIf="Errpass3==true && Errpass1==false && valid1 ==false">

                    <h4>Warning!</h4>
                    <strong>Your password is Empty</strong>
                    <p></p>
                </div> -->

                <div style="background: #DFF2BF !important; border-color:  #270;" class="alert alert-danger alert-dismissible" *ngIf="valid1==true && Errpass3==false && Errpass1 ==false">
                    <button style="color:  #270; background-color: #DFF2BF;" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <!-- <strong style="color:  #270;">{{successTitle}}</strong><br/> -->
                    <p style="color:  #270;">Updated successfully</p>

                </div>

                <!-- <ng-container *ngIf="showmsg">
                    <div class="alert alert-danger">
                        <i class="fa fa-exclamation-triangle"></i> &nbsp;&nbsp;<strong>{{
              msg1
            }}</strong>
                </div>
                </ng-container> -->
                <form #f="ngForm" (ngSubmit)="onLogin(f.value)">



                    <div class="form-group has-feedback">
                        <div class="invalid-feedback">
                            <input type="text" name="username" ngModel="" class="form-control" (change)="GETID($event.target.value)" placeholder="Login" required />
                        </div>
                        <!--<span class="glyphicon glyphicon-envelope form-control-feedback"></span>-->
                        <!-- <span class="glyphicon glyphicon-user form-control-feedback"></span> -->
                    </div>
                    <div class="form-group has-feedback">

                        <div style="display: flex ">
                            <input [type]="passwordField ? 'text' : 'password'" ngModel="" placeholder="Password" class="form-control" required (change)="GETIDP($event.target.value)" />
                            <!-- <span class="glyphicon glyphicon-lock form-control-feedback"></span> -->
                            <i style="margin-left: -26px; color: black; margin-top: 8px;" class="fa" [ngClass]="{
                                'fa-eye-slash': !passwordField,
                                'fa-eye': passwordField
                              }" (click)="togglePasswordTextType()"></i>
                            <!-- 
                            <button class="btn btn-danger " style="margin-left: -57px;background-color: #222d3200; border: #222d32b5; " id="btnCheck " (click)="onClick() ">
                                <i style="color: black; " class="fa fa-eye " aria-hidden="true "
                                    *ngIf="!showEye "></i>
                                <i style="color: black; " class="fa fa-eye-slash " aria-hidden="true "
                                    *ngIf="showEye "></i>
                            </button>-->
                        </div>
                    </div>
                    <div class="row">
                        <!-- /.col -->
                        <div class="col-xs-offset-3 col-xs-6">
                            <button id="btn" type="submit" class="btn  btn-block" data-toggle="modal" data-target="#resetPasswordModal">Sign IN</button>

                        </div>
                    </div>

                    <div *ngIf="this.resetPassword==true" style="overflow: auto;" class="modal fade" id="resetPasswordModal" tabindex="-1" role="dialog" aria-labelledby="resetPasswordModal" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 style="text-align: center;" class="modal-title" id="exampleModalLabel">Reset Password
                                    </h5>
                                </div>
                                <div style="text-align: center;" class="modal-body">
                                    Please reset your password !
                                    <!-- ++++ -->
                                    <input type="hidden" name="paramPass2" [(ngModel)]="paramPass2" class="form-control pull-right" placeholder="Old password "> <br> <br>
                                    <input type="password" name="paramPass" [(ngModel)]="paramPass" class="form-control pull-right" placeholder="New password "> <br> <br>
                                    <input type="password" name="paramPass1" [(ngModel)]="paramPass1" class="form-control pull-right" placeholder="New password confirmation">
                                    <!-- <button id="btn" style="height: 33px;" (click)="MerchantParamToken1(paramPass, paramPass1, paramPass2)" type="submit" class="btn btn-x btn-sm mt-8"> Reset Password </button>

                                </div>
                                 <div></div>-->
                                    <br />
                                    <br />
                                    <div style="text-align: center;" class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <button (click)="MerchantParamToken1(paramPass, paramPass1, paramPass2)" style="background:#ff2a2a; border-color: #ff2a2a;" type="submit" class="btn btn-danger" data-dismiss="modal">Reset Password</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- <br/>
                <div class="row">
                    <div class="text-center">
                        <i class="glyphicon glyphicon-lock cbg-red"></i>&nbsp;
                        <a (click)="openf(contentf)">
                            <span class="cbg-red">Forgot Password</span>
                        </a>
                    </div>
                </div> -->
                <div class="row">
                    <div class="text-center">
                        <div class="col-xs-offset-3 col-xs-6">
                            <button id="btn" (click)="openf(contentf)" type="button" class="btn  btn-block">Forgot
                                Password</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center">
                        <div class="col-xs-offset-3 col-xs-6">
                            <button id="btn" (click)="signUp()" type="button" class="btn  btn-block">Sign UP</button>
                        </div>
                    </div>
                </div>
                <!-- +++  -->
                <!--<div>
              <div>
                <p class="m">Forgot Login</p>
              </div>
              <div class="n">
                <button class="btn btn-secondary" (click)="openg(contentf)">
                  <div><i class="glyphicon glyphicon-user"></i> &nbsp;click here</div>
                </button>
              </div>
            </div>-->
                <!-- ---  -->
                <!--  +++ popup-->
                <ng-template #contentf>
                    <ng-container>
                        <form #fp="ngForm" (ngSubmit)="forgertPassword(fp.value)">
                            <div class="modal-header">
                                <h4 class="modal-title" id="modal-basic-title">
                                    <i class="fas fa-key"></i>&nbsp;&nbsp; Forgot password :
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div>
                                    Hi &nbsp;<strong>{{ usernameForegetPass }}&nbsp;</strong>please fill out the form :
                                </div>
                                <br />
                                <ng-container *ngIf="showmsgstep1">
                                    <div class="alert alert-danger" role="alert">
                                        <strong>Please Fill out The Form</strong>
                                        <ul *ngFor="let error of errorarraystep1">
                                            <li>
                                                {{error}}
                                            </li>
                                        </ul>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="showmsgforgetpass">
                                    <div class="alert alert-danger" role="alert">
                                        {{msgforgetpass}}
                                    </div>
                                </ng-container>

                                <br />

                                <div class="row">
                                    <div class="col"></div>
                                    <div class="col-8">
                                        <div class="row">
                                            <div class="col-form-label">
                                                <label for="">Email : </label>
                                            </div>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <div class="col-8">
                                                <input ngModel name="email" type="text" class="form-control" placeholder="Email" />
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-form-label">
                                                <label for="">Phone Number :</label>
                                            </div>
                                            <div class="col-8">
                                                <input ngModel name="phone_number" type="text" class="form-control" placeholder="Phone number" />
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-form-label">
                                                <label for="">Customer ID :</label>
                                            </div>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <div class="col-8">
                                                <input ngModel name="customer_id" type="text" class="form-control" placeholder="Customer ID" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col"></div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-secondary">
                                    Reset password
                                </button>
                                <button type="button " class="btn btn-outline-secondary" (click)="cancelbutton()">
                                    cancel
                                </button>
                            </div>
                        </form>
                    </ng-container>
                </ng-template>

                <!-- /.col -->
                <!--  +++ popup-->
                <ng-template #contentf>
                    <ng-container>
                        <form #fp="ngForm" (ngSubmit)="forgertLogin(fp.value)">
                            <div class="modal-header">
                                <h4 class="modal-title" id="modal-basic-title">
                                    <i class="fas fa-key"></i>&nbsp;&nbsp; forgot password :
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div>
                                    Hi &nbsp;<strong>{{ usernameForegetPass }}&nbsp;</strong>please fill out the form :
                                </div>
                                <br />
                                <ng-container *ngIf="showmsgstep1">
                                    <div class="alert alert-danger" role="alert">
                                        <strong>Please Fill out The Form</strong>
                                        <ul *ngFor="let error of errorarraystep1">
                                            <li>
                                                {{error}}
                                            </li>
                                        </ul>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="showmsgforgetpass">
                                    <div class="alert alert-danger" role="alert">
                                        {{msgforgetpass}}
                                    </div>
                                </ng-container>

                                <br />

                                <div class="row">
                                    <div class="col"></div>
                                    <div class="col-8">
                                        <div class="row">
                                            <div class="col-form-label">
                                                <label for="">Email : </label>
                                            </div>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <div class="col-8">
                                                <input ngModel name="email" type="text" class="form-control" placeholder="Email" />
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-form-label">
                                                <label for="">Phone Number :</label>
                                            </div>
                                            <div class="col-8">
                                                <input ngModel name="phone_number" type="text" class="form-control" placeholder="Phone number" />
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-form-label">
                                                <label for="">Customer ID :</label>
                                            </div>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <div class="col-8">
                                                <input ngModel name="customer_id" type="text" class="form-control" placeholder="Customer ID" />
                                            </div>
                                        </div>z"q
                                    </div>
                                    <div class="col"></div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-secondary">
                                    Reset password
                                </button>
                                <button type="button " class="btn btn-outline-secondary" (click)="cancelbutton()">
                                    cancel
                                </button>
                            </div>
                        </form>
                    </ng-container>
                </ng-template>





                <!--   <a (click)="onRegister()" class="text-center">Require a new membership</a> -->

            </div>
            <!-- /.login-box-body -->
        </div>
    </div>
    <br><br><br><br><br><br>
    <!-- /.login-box -->
    <script>
        $(function() {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
        });
    </script>
</body>

<!--
    <p></p>
    <div class="Container">
      <div class="col-md-6">
        <div class="panel panel-primary">
          <div class="panel panel-heading"> login </div>
          <div class="panel panel-body">
            <form #f="ngForm" (ngSubmit)="onLogin(f.value)">
              <div class="form-group">
                <label class="label-control">Username:</label>
                <input type="text" name="username"  ngModel="" class="form-control" required />
              </div>
              <div class="form-group">
                <label class="label-control">Pssword:</label>
                <input type="text" name="password" type="password" ngModel="" class="form-control" required />
              </div>
    
    
              <button type="submit"class="btn btn-danger">Login</button>
          ////<button (click)="onRegister()" class="btn btn-success" >Register New Merchant </button>---
    
            </form>
          </div>
        </div>
      </div>
    
    </div>
    -->