<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add New Acceptor Point</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <form name="merchantForm">
        <div class="form-group">

            <div class="row">
                <div class="form-group col-md-3 col-sm-6 col-xs-12">
                    <label for="acceptorpointcompanyname">Company Name</label>
                    <input type="text" class="form-control" name="acceptorpointcompanyname" id="acceptorpointcompanyname" aria-disabled="true" disabled>
                </div>
                <div class="form-group col-md-3 col-sm-6 col-xs-12">
                    <label for="acceptorpointdescription">Description</label>
                    <input type="text" class="form-control" name="acceptorpointdescription" id="acceptorpointdescription" aria-disabled="true" disabled>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-3 col-sm-6 col-xs-12 required">
                    <label for="acceptorpoint">Acceptor Point</label>
                    <input type="text" class="form-control" name="acceptorpoint" id="acceptorpoint" aria-required="true" required>
                    <div *ngIf="errorMessage">
                        <span id="req" ng-show="merchantForm.acceptorpoint.$touched && merchantForm.acceptorpoint.$invalid" aria-disabled="true">Acceptor point is required.</span>
                    </div>
                </div>
                <div class="form-group col-md-3 col-sm-6 col-xs-12 required">
                    <label for="acceptorpointacronym">Acronym</label>
                    <input type="text" class="form-control" name="acceptorpointacronym" id="acceptorpointacronym" aria-required="true" required>
                    <div *ngIf="errorMessage">
                        <span id="req" ng-show="merchantForm.acceptorpointacronym.$touched && merchantForm.acceptorpointacronym.$invalid" aria-disabled="true">Acronym is required.</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-3 col-sm-6 col-xs-12 required">
                    <label for="acceptorpointmobilenumber">Mobile Number</label>
                    <input type="text" class="form-control" name="acceptorpointmobilenumber" id="acceptorpointmobilenumber" aria-required="true" required>
                    <div *ngIf="errorMessage">
                        <span id="req" ng-show="merchantForm.acceptorpointmobilenumber.$touched && merchantForm.acceptorpointmobilenumber.$invalid" aria-disabled="true">Account number is required.</span>
                        <span id="req" *ngIf="formGroup.get('name').invalid && formGroup.get('name').touched" aria-disabled="true">Account number is required.</span>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="text-left col-xs-6">
            <button id="btnClose" class="btn btn-danger" (click)="close()">Close</button>
        </div>
        <div class="text-right col-xs-6">
            <button id="blackBtn" class="btn btn-primary" (click)="save()">Save</button>
        </div>
    </div>
</div>