<!--<body style="background: #ecf0f5;"> -->

<body style="background: #ffffff;">

    <div class="row">
        <div class="col-xs-offset-4 col-xs-4">
            <div class="login-logo">
                <!-- <img src="assets/images/GhIPSS-logo.png" class="logo"  id="logo" style="float: center; position: relative; ">-->
                <img src="assets/images/ic_logo_cbgmob.png" class="logo" id="logo" style="float: center; position: relative; ">
                <!-- <img src ="assets/images/logo1.jpg" class="logo"  id="logo" style="float: center; position: relative; ">-->
                <b></b>
                <h3><b>CBG MERCHANT PORTAL</b> </h3>
            </div>
            <!-- /.login-logo  -->
            <div class="login-box-body">
                <div class="row">
                    <b>
                        <p id="p1" class="login-box-msg pull-left">Account Setup</p>
                    </b>
                    <b> <i style="color: black;" class="fa fa-angle-double-right" aria-hidden="true"></i></b>
                    <p id="p2" class="login-box-msg pull-right">OTP</p>
                </div>
                <section>
                    <div style="background: #ECC8C5 !important; border-color:  #B83C37;" class="alert alert-danger alert-dismissible" *ngIf="invalidShow==true ">
                        <button style="color:  #B83C37;" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <!-- <h4><i class="fa fa-exclamation-circle"></i> Alert!</h4> -->
                        <h5 style="color:  #B83C37;"><i class="fa fa-ban fa-1x"> </i> password must be at least 8 characters and contain a number and an uppercase and lowercase letters
                        </h5>
                    </div>

                    <div style="background: #ECC8C5 !important; border-color:  #B83C37;" class="alert alert-danger alert-dismissible" *ngIf="matchShow==true ">
                        <button style="color:  #B83C37;" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <!-- <h4><i class="fa fa-exclamation-circle"></i> Alert!</h4> -->
                        <h5 style="color:  #B83C37;"><i class="fa fa-ban fa-1x"> </i> Password confirmation must match Password
                        </h5>
                    </div>
                    <div class="alert alert-success alert-dismissible" *ngIf="show==true  && mode==true">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h4><i class="icon fa fa-check"></i> Alert!</h4>
                        Phone checked !
                    </div>
                    <div style="background: #ECC8C5 !important; border-color:  #B83C37;" class="alert alert-danger alert-dismissible" *ngIf="showMessage==true ">
                        <button style="color:  #B83C37;" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <!-- <h4><i class="fa fa-exclamation-circle"></i> Alert!</h4> -->
                        <h5 style="color:  #B83C37;"><i class="fa fa-ban fa-1x"> </i>Invalid Phone Number !</h5>
                    </div>

                    <div style="background: #ECC8C5 !important; border-color:  #B83C37;" class="alert alert-danger alert-dismissible" *ngIf="validresetP==true ">
                        <button style="color:  #B83C37;" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <!-- <h4><i class="fa fa-exclamation-circle"></i> Alert!</h4> -->
                        <h5 style="color:  #B83C37;"><i class="fa fa-ban fa-1x"> </i> All fields are required !</h5>
                    </div>

                    <div style="background: #ECC8C5 !important; border-color:  #B83C37;" class="alert alert-danger alert-dismissible" *ngIf="saveUser==true ">
                        <button style="color:  #B83C37;" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <!-- <h4><i class="fa fa-exclamation-circle"></i> Alert!</h4> -->
                        <h5 style="color:  #B83C37;"><i class="fa fa-ban fa-1x"> </i>Failed !</h5>
                    </div>
                    <!-- <ng-container *ngIf="showmsg">
                        <div class="alert alert-danger">
                            <i class="fa fa-exclamation-triangle"></i> &nbsp;&nbsp;<strong>{{
                                msg1
                                }}</strong>
                        </div>
                    </ng-container> -->
                    <!-- <ng-container *ngIf="showmsgstep1">
                        <div class="alert alert-danger" role="alert">
                            <strong>Please Fill out The Form</strong>
                            <ul *ngFor="let error of errorarraystep1">
                                <li>
                                    {{error}}
                                </li>
                            </ul>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="msgarrayresetP">
                        <div class="alert alert-danger" role="alert">
                            <strong>Please Fill out The Form</strong>
                            <ul *ngFor="let error of errorarrayresetP">
                                <li>
                                    {{error}}
                                </li>
                            </ul>
                        </div>
                    </ng-container> -->
                    <form (ngSubmit)="submit()">
                        <div class="form-group has-feedback">
                            <div id="flexContainer" class="invalid-feedback">
                                <input minlength="10" ng-model="phoneNumber" type="text" name="phoneNumber" id="phoneNumber" ngModel="" placeholder="Phone Number" class="form-control" required />
                                <span class="glyphicon glyphicon-phone form-control-feedback"></span>

                                <!-- <button (click)="checkAcceptorPointByPhoneNumber(phoneNumber)" class="btn btn-danger" id="btnCheck" type="button"><i id="iconCheck" class="fa fa-check"
                                        aria-hidden="true"></i></button> -->
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <input id="accountNumber" ng-model="accountNumber" type="text" name="accountNumber" ngModel="" placeholder="Account Number" class="form-control" required />

                            <span class=" glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback ">
                            <!-- <input id="domicilBranch " type="text " name="domicilBranch " placeholder="Domicile Branche " class="form-control " required /> -->
                            <input id="domicilBranch" ng-model="domicilBranch" type="text" name="domicilBranch" ngModel="" placeholder="Domicile Branche" class="form-control" required />

                            <span class="glyphicon glyphicon-lock form-control-feedback "></span>
                        </div>
                        <div class="form-group has-feedback ">
                            <!-- <input id="buisnessCerNo " type="text " name="buisnessCerNo " placeholder="BUSINESS CERT.NO " class="form-control " required /> -->
                            <input id="buisnessCerNo" ng-model="buisnessCerNo" type="text" name="buisnessCerNo" ngModel="" placeholder="BUSINESS CERT.NO" class="form-control" required />

                            <span class="glyphicon glyphicon-lock form-control-feedback "></span>
                        </div>
                        <div class="form-group has-feedback ">
                            <!-- <input id="dateOf " type="date " name="dateOf " placeholder="DATE OF INCORPORATION " class="form-control " required /> -->
                            <input id="dateOf" ng-model="dateOf" type="date" name="dateOf" ngModel="" placeholder="Date OF INCORPORATION" class="form-control" required />

                        </div>
                        <div class="form-group has-feedback ">
                            <!-- <input minlength="8" id="userPassword " type="password " name="userPassword " placeholder="Password " class="form-control " required /> -->
                            <input minlength="8" id="userPassword" ng-model="userPassword" type="password" name="userPassword" ngModel="" placeholder="USER PASSWORD" class="form-control" required />

                            <span class="glyphicon glyphicon-lock form-control-feedback "></span>
                            <br>
                            <div class="form-group has-feedback ">
                                <!-- <input minlength="8" id="confirmPassword " type="password " name="confirmPassword " placeholder="Password Confirmation " class="form-control " required /> -->
                                <input minlength="8" id="confirmPassword" ng-model="confirmPassword" type="password" name="confirmPassword" ngModel="" placeholder="PASSWORD CONFIRMATION" class="form-control" required />

                                <span class="glyphicon glyphicon-lock form-control-feedback "></span>
                            </div>
                        </div>

                    </form>

                    <br />
                    <div class="row ">
                        <div class="text-center ">
                            <div class="row ">
                                <div class=" col-xs-6 pull-right ">
                                    <button id="btn1 " (click)="checkByMobileNumberToSave(phoneNumber) " type="button " class="btn btn-block ">Next <i class="fa fa-arrow-right " aria-hidden="true "></i>
                                    </button>

                                </div>
                                <div class=" col-xs-6 pull-left ">
                                    <button (click)="cancel() " type="button " class="btn btn-block ">Cancel </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section *ngIf="stepOtp==true ">
                    <div></div>
                    <br>
                    <div id="flexContainer " class="invalid-feedback ">
                        <input minlength="6" maxlength="6" id="otp" ng-model="otp" type="password" name="otp" ngModel="" placeholder="OTP" class="form-control" required value="" />

                        <!-- <input ng-model="otp" type="text " name="otp " id="otp " ngModel=" " placeholder="OTP" class="form-control " required /> -->
                        <span id="phoneIcon " class="glyphicon glyphicon-phone form-control-feedback "></span>
                        <button (click)="validate(phoneNumber,otp) " class="btn btn-danger " id="btnCheck " type="button "><i id="iconCheck " class="fa fa-check " aria-hidden="true "></i></button>
                    </div>
                </section>
                <div></div>
                <br>
                <div *ngIf="stepSave==true" class="row ">
                    <div class="col-xs-offset-3 col-xs-6 ">
                        <button id="btn1 " (click)="save() " type="button " class="btn btn-block ">Confirm </button>
                    </div>
                </div>
            </div>
            <!-- /.login-box-body -->
        </div>
    </div>
    <script>
        $(function() {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
        });
    </script>
</body>