button.btn-x {
    background: #ff2a2a;
    color: #fff;
}

button.btn-y {
    background: #ff2a2a;
    color: #fff;
}

#btn {
    background: #222d32;
    border-color: #222d32;
    margin-left: 10px;
}