<app-appheader></app-appheader>
<app-appmenu></app-appmenu>

<div class="content-wrapper" *ngIf="session==true">



    <fieldset class="col-md-12">

        <div style="height: 30px;"></div>
        <br>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a (click)="merchantPage()"><i
                                style="color: black; width: 24px; height: 24px;" class="fa fa-home"
                                aria-hidden="true"></i>
                        </a></li>
                <li class="breadcrumb-item active" aria-current="page"> Session</li>
            </ol>
        </nav>
        <!-- <div class="panel panel-default">
            <div class="panel-body"> -->
        <!-- <div class="box-header"> -->
        <!-- <section class="content-header">
                        <h3 class="box-title"> Settings </h3>




                    </section> -->
        <br/>
        <section>
            <!-- <div class="callout callout-danger" *ngIf="Errtoken==true">
                <h4>Warning!</h4>
                <strong>No Merchant id</strong>
                <p></p>
            </div> -->

            <!-- <div class="callout callout-success" *ngIf="valid==true">
                <h4> updated successfully </h4>
                <strong> </strong>
                <p></p>
            </div> -->

            <div style="background: #ECC8C5 !important; border-color:  #B83C37;" class="alert alert-danger alert-dismissible" *ngIf="Errtoken==true">
                <button style="color:  #B83C37; background-color: #ECC8C5;" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <!-- <h4><i class="fa fa-exclamation-circle"></i> Alert!</h4> -->
                <strong style="color:  #B83C37;"> <i class="fa fa-times"> </i> Error</strong><br />
                <ul style="color:  #B83C37;">
                    <li>Failed to update session </li>
                </ul>
                <!-- <p style="color:  #B83C37;">{{errMessage}}</p> -->
            </div>

            <div style="background: #DFF2BF !important; border-color:  #270;" class="alert alert-danger alert-dismissible" *ngIf="valid==true">
                <button style="color:  #270; background-color: #DFF2BF;" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong style="color:  #270;">Success</strong><br />
                <p style="color:  #270;">Session Updated successfully</p>

            </div>

            <div class="box box-default">
                <div class="box-header with-border">
                    <h4> Session time out by second </h4>
                </div>
                <div class="box-body" style="padding: 30px;">
                    <div class="box-tools">
                        <div class="box-tools">
                            <div class="input-group input-group-sm" style="    width: 60%;">
                                <input type="text" name="sessionTime" [(ngModel)]="sessionTime" class="form-control pull-right" placeholder=" time out ">
                                <div class="input-group-btn">
                                    <button id="btn" (click)="url(sessionTime)" type="submit" class="btn btn-y"><i class="fa fa-add"></i> Update </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- </div> -->
        <!-- </div>
        </div> -->

    </fieldset>

</div>


<div class="content-wrapper" *ngIf="token==true">


    <div style="height: 30px;"></div>
    <br>
    <fieldset class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a (click)="merchantPage()"><i
                                style="color: black; width: 24px; height: 24px;" class="fa fa-home"
                                aria-hidden="true"></i>
                        </a></li>
                <li class="breadcrumb-item active" aria-current="page"> Reset Password</li>
            </ol>
        </nav>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="box-header">
                    <h3 class="box-title"> Settings </h3>
                    <section>
                        <div class="callout callout-danger" *ngIf="Errtoken==true">
                            <h4>Warning!</h4>
                            <strong>No Merchant id</strong>
                            <p></p>
                        </div>

                        <div class="callout callout-success" *ngIf="valid==true">
                            <h4> updated successfully </h4>
                            <strong> </strong>
                            <p></p>
                        </div>

                        <div class="box box-default">
                            <div class="box-header with-border">
                                <h4> token time out by second </h4>
                            </div>
                            <div class="box-body" style=" padding: 30px;">
                                <div class="box-tools">
                                    <div class="box-tools">
                                        <div class="input-group input-group-sm" style="    width: 60%;">
                                            <input type="text" name="paramToke" [(ngModel)]="paramToke" class="form-control pull-right" placeholder=" time out ">
                                            <div class="input-group-btn">
                                                <button (click)="url(paramToke)" type="submit" class="btn btn-x"><i class="fa fa-add"></i> update </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

    </fieldset>

</div>